<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build/event-calendar.min.css">
<style>
    .selector_button {
        background-color: rgb(49, 114, 116);
        color: white;
        padding: 8px 8px;
        margin: 2px 10px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
    }

    #main_time_view {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    #timetable {
        overflow: auto;
    }

    .close_x {
        color: white;
        float: right;
        font-size: 30px;
        cursor: pointer;
        width: 30px;
        padding-left: 10px;
        height: 40px;
        border-radius: 5px;
        background-color: black;
    }

    .inspector {
        display: none;
        width: 30vw;
        margin-left: 10px;
        padding: 5px;
        background-color: rgb(225, 225, 225);
        border-radius: 10px;
        height: fit-content;
    }
</style>
<div id="main_time_view">
    <div id="timetable"></div>
    <div id="inspector" class="inspector">
        <a class="close_x" onclick="hide_inspector()">x</a>
        <p><b>Event Details</b></p>
        <div id="inspector_content"></div>
        <hr>
        <p><b>Event Aktionen</b></p>
        <div id="inspector_event_actions">
            <button id="ins_event_delete_b" class="delete_button" onclick="delete_event(cur_inspected_event)">Event l&ouml;schen</button>
        </div>
    </div>
</div>
<div id="timetable_editing" class="user">
    <hr>
    <p><b>Neues event erstellen</b>
    <div class="inset">
        <div id="create_event_input"> </div>

        <button onclick="
            create_new_event(parse_event_from_form(getElementById('create_event_input')));">Event erstellen</button>
    </div>
</div>
<div id="templates" style="display:none">
    <div id="side_select"
        style="display:grid; grid-template-columns: auto auto; grid-template-rows: auto auto; margin: 5px;">
        <div id="side_select_left_title" style="border:solid thin gray; border-bottom:none">
            Title links
            <hr>
        </div>
        <div id="side_select_right_title" style="border:solid thin gray; border-bottom:none">
            Title rechts
            <hr>
        </div>
        <div id="side_select_left" style="border:solid thin gray; border-top:none; max-height: 120px; overflow: scroll">
            left
        </div>
        <div id="side_select_right"
            style="border:solid thin gray; border-top:none; max-height: 120px; overflow: scroll;">
            right
        </div>
    </div>
    <div id="event_input_template">
        <label for="ne_title"><b>Titel</b></label>
        <input id="ne_title" type="text">

        <label for="ne_description"><b>Beschreibung</b></label><br />
        <textarea id="ne_description" name="ne_description" cols="40" rows="5"></textarea>

        <label for="ne_start_time"><b>Start Datum</b></label>
        <input id="ne_start_time" type="datetime-local">

        <label for="ne_end_time"><b>End Datum</b></label>
        <input id="ne_end_time" type="datetime-local">

        <label for="ne_people"><b>Mitarbeiter</b></label>
        <div id="associates" class="select_users"></div>

        <label for="ne_visibility"><b>Sichtbar f&uuml;r</b></label>
        <div id="visible" class="select_users select_all"></div>

        <label for="ne_expected_hours"><b>Voraussichtliche Arbeitsstunden</b></label>
        <input id="ne_expected_hours" type="number" value="5">
    </div>
</div>
<script>
    let event_calendar = null;
    let cur_inspected_event = null;
    let inspector_observer = new MutationObserver(inspector_observer_callback);
    let inspector_observer_config = { childList: true, subtree: true };
    function generateDivergingColors() {
        const colorTable = ['#a6cee3', '#1f78b4', '#b2df8a', '#33a02c', '#fb9a99', '#e31a1c', '#fdbf6f', '#ff7f00', '#cab2d6', '#6a3d9a', '#ffff99', '#b15928'];

        return colorTable;
    }

    const divergingColors = generateDivergingColors();
    function db_event_to_cal_event(e) {
        return {
            id: e.id,
            resourceIds: [],
            allDay: e.expected_hours >= 24,
            start: new Date(e.start_time),
            end: new Date(e.end_time),
            title: e.title,
            editable: e.creator == "{{benutzername}}" || "admin" == "{{benutzername}}",
            backgroundColor: divergingColors[e.creator.hashCode() % divergingColors.length],
        }
    }
    function setup_arbeitsplanung() {
        init_event_calendar();
        setup_event_input();
        setup_user_selections();
    }
    async function init_event_calendar() {
        // loading events

        let server_events = await fetch(location.origin + "/get_events",
            { headers: { "credentials": user_credentials } });
        let events = await server_events.json();

        // parsing the events to event calendar format
        let parsed_events = []
        for (e of events) {
            parsed_events.push(db_event_to_cal_event(e));
        }

        event_calendar = new EventCalendar(document.getElementById("timetable"), {
            view: 'timeGridWeek',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            events: parsed_events,
            allDayContent: "Ganztags",
            buttonText: { close: 'Schliessen', dayGridMonth: 'Monat', listDay: 'Liste', listMonth: 'Liste', listWeek: 'Liste', listYear: 'Liste', resourceTimeGridDay: 'Tag', resourceTimeGridWeek: 'Woche', timeGridDay: 'Tag', timeGridWeek: 'Woche', today: 'Heute' },
            //date: new Date().toISOString()
            dayHeaderFormat: date => new Intl.DateTimeFormat('de-DE', { weekday: 'short', month: 'numeric', day: 'numeric' }).format(date),
            editable: true,
            eventClick: show_event_in_inspector,
            eventDrop: update_event_drag,
            eventResize: update_event_drag,
        });
    }
    async function create_new_event(event_infos) {
        let event_result = await fetch(location.origin + "/add_event",
            {
                headers: { "credentials": user_credentials },
                method: "POST",
                body: JSON.stringify(event_infos)
            });
        let event_result_json = await event_result.json();
        if ("error" in event_result_json)
            console.log(event_result_json);
        else
            event_calendar.addEvent(db_event_to_cal_event(event_result_json));
    }
    async function setup_user_selections() {
        let users = await fetch(location.origin + "/get_all_users", { headers: { "credentials": user_credentials } });
        users = await users.json();
        const create_selector = (id, contains_all) => {
            let select = document.getElementById("side_select");
            let selector = select.cloneNode(true);
            selector.setAttribute("id", id);
            selector.querySelector("#side_select_left_title").innerHTML = "<p class='p_title'>Nicht dabei <hr>";
            selector.querySelector("#side_select_right_title").innerHTML = "<p class='p_title'>Mit dabei <hr>";

            let user_buttons = "";
            for (user of users)
                if (user != "{{benutzername}}")
                    user_buttons += "<button id='bn_" + user + "' class='selector_button' onclick=\"switch_side(this);\">" + user + "</button>\n";
            selector.querySelector("#side_select_left").innerHTML = user_buttons;
            let right_buttons = "";
            if (contains_all)
                right_buttons += "<button id='bn_Alle' class='selector_button' onclick=\"switch_side(this);\">Alle</button>\n";
            selector.querySelector("#side_select_right").innerHTML = right_buttons;
            return selector;
        }
        let selectors = document.getElementsByClassName("select_users");
        for (s of selectors) {
            const contains_all = s.classList.contains("select_all");
            const id = s.getAttribute("id") + "_selector";
            const selector = create_selector(id, contains_all);
            s.appendChild(selector);
        }
    }
    function switch_side(button) {
        if (button == null)
            return;
        let p = button.parentNode;
        let other_side = p.getAttribute("id") == "side_select_left" ? "side_select_right" : "side_select_left";
        p.removeChild(button);
        p.parentNode.querySelector("#" + other_side).appendChild(button);
    }
    function setup_event_input() {
        const input_template = document.getElementById("event_input_template").cloneNode(true);
        document.getElementById("create_event_input").appendChild(input_template);
    }
    function parse_event_from_form(event_inputs) {
        let people = "{{benutzername}}" == "admin" ? "[" : "[{{benutzername}}";
        for (p of document.getElementById('associates').querySelector('#side_select_right').childNodes) {
            if (p.innerHTML == 'Alle') {
                people = '[Alle';
                break;
            }
            people += ',' + p.innerHTML;
        }
        people += ']';
        let visibility = "{{benutzername}}" == "admin" ? "[" : "[{{benutzername}}";
        for (p of document.getElementById('visible').querySelector('#side_select_right').childNodes) {
            if (p.innerHTML == 'Alle') {
                visibility = '[Alle';
                break;
            }
            visibility += ',' + p.innerHTML;
        }
        visibility += ']';
        let creator = event_inputs.querySelector('#creator_name');
        let start = new Date(Date.parse(event_inputs.querySelector('#ne_start_time').value));
        let end = new Date(Date.parse(event_inputs.querySelector('#ne_end_time').value));
        return {
            title: event_inputs.querySelector('#ne_title').value,
            description: event_inputs.querySelector('#ne_description').value,
            start_time: start.toISOString(),
            end_time: end.toISOString(),
            creator: creator == null ? '{{benutzername}}' : creator.innerHTML,
            people: people,
            people_status: '[{{benutzername}}, accepted]',
            visibility: visibility,
            expected_hours: parseFloat(event_inputs.querySelector('#ne_expected_hours').value),
            progress: 0.
        }
    }
    async function get_event(id) {
        let e = await fetch(location.origin + "/get_event/" + id, { headers: { "credentials": user_credentials } });
        return await e.json();
    }
    async function show_event_in_inspector(info, force_update = false) {
        if (!force_update && info.event.id == cur_inspected_event)
            return;
        cur_inspected_event = info.event.id;
        inspector_observer.disconnect();
        let inspector = document.getElementById("inspector");
        let content = document.getElementById("inspector_content");
        let event = await get_event(info.event.id);
        if ("error" in event)
            console.log(event["error"]);
        else {
            let allowed_to_edit = "{{benutzername}}" == event.creator || "{{benutzername}}" == "admin";
            let start = new Date(Date.parse(event.start_time));
            let end = new Date(Date.parse(event.end_time));
            start.setMinutes(start.getMinutes() - start.getTimezoneOffset());
            end.setMinutes(end.getMinutes() - end.getTimezoneOffset());
            inspector.style.display = "block";
            content.innerHTML = '<b>ID: </b><p>' + event.id + '</p>';
            content.innerHTML += '<b>Ersteller: </b><p id="creator_name">' + event.creator + "</p>";
            let inputs = document.getElementById("event_input_template").cloneNode(true);
            inputs.querySelector("#ne_title").value = event.title;
            inputs.querySelector("#ne_description").value = event.description;
            inputs.querySelector("#ne_start_time").value = start.toISOString().slice(0, 16);
            inputs.querySelector("#ne_end_time").value = end.toISOString().slice(0, 16);

            let mitarbeiter = event.people.slice(1, -1).split(',');
            let mitarbeiter_selector = inputs.querySelector("#associates");
            for (m of mitarbeiter) {
                if (m == "{{benutzername}}") continue;
                switch_side(mitarbeiter_selector.querySelector("#bn_" + m));
            }

            let vis = event.visibility.slice(1, -1).split(',');
            let vis_selector = inputs.querySelector("#visible");
            let all_included = false;
            for (m of vis) {
                if (m == "{{mitarbeiter}}") continue;
                if (m == "Alle") {
                    all_included = true;
                    continue;
                }
                switch_side(vis_selector.querySelector("#bn_" + m));
            }
            if (!all_included)
                switch_side(vis_selector.querySelector("#bn_Alle"));

            inputs.querySelector("#ne_expected_hours").value = event.expected_hours;

            if (!allowed_to_edit) {
                inputs.querySelector("#ne_title").setAttribute("disabled", "");
                inputs.querySelector("#ne_description").setAttribute("disabled", "");
                inputs.querySelector("#ne_start_time").setAttribute("disabled", "");
                inputs.querySelector("#ne_end_time").setAttribute("disabled", "");

                mitarbeiter_selector.innerHTML = "<p class='inset'>" + event.people + "</p>";
                vis_selector.innerHTML = "<p class='inset'>"  + event.visibility + "</p>";

                inputs.querySelector("#ne_expected_hours").setAttribute("disabled", "");
                document.getElementById("ins_event_delete_b").setAttribute("disabled", "");
            }

            content.appendChild(inputs);
            attach_event_update_on_value_change(content);
            inspector_observer.observe(content, inspector_observer_config);
        }
    }
    function hide_inspector() {
        document.getElementById("inspector").style.display = 'none';
        cur_inspected_event = null;
        inspector_observer.disconnect();
    }
    async function update_event(event) {
        let res = await fetch(location.origin + "/update_event",
            {
                headers: { "credentials": user_credentials },
                method: "POST",
                body: JSON.stringify(event),
            });
        let res_json = await res.json();
        if ("error" in res_json)
            console.log(res_json);
        else
            event_calendar.updateEvent(db_event_to_cal_event(res_json));
    }
    async function update_event_drag(info) {
        let event = await get_event(info.event.id);
        // setting the event starting and end time
        event.start_time = info.event.start;
        event.end_time = info.event.end;
        await update_event(event);
        if (cur_inspected_event == event.id)
            show_event_in_inspector(info, true);
    }
    function inspector_observer_callback(mutationsList = null) {
        let event = parse_event_from_form(document.getElementById("inspector_content"));
        event.id = parseInt(cur_inspected_event);
        update_event(event);
    }
    function attach_event_update_on_value_change(base_node) {
        let input_elements = base_node.querySelectorAll("input,textarea");
        for (e of input_elements)
            e.onchange = inspector_observer_callback;
    }
    async function delete_event(id) {
        let res = await fetch(location.origin + "/delete_event/" + id,
            {
                headers: { "credentials": user_credentials }
            });
        let res_json = await res.json();
        if ("error" in res_json)
            console.log(res_json);
        else {
            hide_inspector();
            event_calendar.removeEventById(id);
        }
    }
</script>
<script onload="setup_arbeitsplanung();" onerror="console.log('error with script');" type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@event-calendar/build/event-calendar.min.js" defer></script>