<style>
    object {
        width: 100%;
        height: 90vh;
    }

    .folder {
        width: 47px;
        height: 32px;
        position: relative;
        background-color: rgb(236, 180, 72);
        border-radius: 0 6px 6px 6px;
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
        margin-left: -10px;
    }

    .folder::before {
        content: '';
        width: 50%;
        height: 4px;
        border-radius: 0 5px 0 0;
        background-color: rgb(236, 180, 72);
        position: absolute;
        top: -4px;
        left: 0px;
    }

    /*! fileicon.css v0.1.1 | MIT License | github.com/picturepan2/fileicon.css */
    /* fileicon.basic */
    .file-icon {
        font-family: Arial, Tahoma, sans-serif;
        font-weight: 300;
        display: inline-block;
        width: 24px;
        height: 32px;
        background: #018fef;
        position: relative;
        border-radius: 2px;
        text-align: left;
        -webkit-font-smoothing: antialiased;
    }

    .file-icon::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255, 255, 255, .35) rgba(255, 255, 255, .35);
    }

    .file-icon::after {
        display: block;
        content: attr(data-type);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
        color: #fff;
        text-transform: lowercase;
        width: 100%;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
    }

    /* fileicons */
    .file-icon-xs {
        width: 12px;
        height: 16px;
        border-radius: 2px;
    }

    .file-icon-xs::before {
        border-bottom-left-radius: 1px;
        border-width: 3px;
    }

    .file-icon-xs::after {
        content: "";
        border-bottom: 2px solid rgba(255, 255, 255, .45);
        width: auto;
        left: 2px;
        right: 2px;
        bottom: 3px;
    }

    .file-icon-sm {
        width: 18px;
        height: 24px;
        border-radius: 2px;
    }

    .file-icon-sm::before {
        border-bottom-left-radius: 2px;
        border-width: 4px;
    }

    .file-icon-sm::after {
        font-size: 7px;
        padding: 2px;
    }

    .file-icon-lg {
        width: 48px;
        height: 64px;
        border-radius: 3px;
    }

    .file-icon-lg::before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }

    .file-icon-lg::after {
        font-size: 16px;
        padding: 4px 6px;
    }

    .file-icon-xl {
        width: 96px;
        height: 128px;
        border-radius: 4px;
    }

    .file-icon-xl::before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }

    .file-icon-xl::after {
        font-size: 24px;
        padding: 4px 10px;
    }

    /* fileicon.types */
    .file-icon[data-type=zip],
    .file-icon[data-type=rar] {
        background: #acacac;
    }

    .file-icon[data-type^=doc] {
        background: #307cf1;
    }

    .file-icon[data-type^=xls] {
        background: #0f9d58;
    }

    .file-icon[data-type^=ppt] {
        background: #d24726;
    }

    .file-icon[data-type=pdf] {
        background: #e13d34;
    }

    .file-icon[data-type=txt] {
        background: #5eb533;
    }

    .file-icon[data-type=mp3],
    .file-icon[data-type=wma],
    .file-icon[data-type=m4a],
    .file-icon[data-type=flac] {
        background: #8e44ad;
    }

    .file-icon[data-type=mp4],
    .file-icon[data-type=wmv],
    .file-icon[data-type=mov],
    .file-icon[data-type=avi],
    .file-icon[data-type=mkv] {
        background: #7a3ce7;
    }

    .file-icon[data-type=bmp],
    .file-icon[data-type=jpg],
    .file-icon[data-type=jpeg],
    .file-icon[data-type=gif],
    .file-icon[data-type=png] {
        background: #f4b400;
    }

    .file-icon[data-type=zip] {
        background: #f6cd5c;
    }


    #folder_explorer_header {
        display: grid;
        grid-template-columns: 50px repeat(4, auto);
    }

    .header_div {
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        font-weight: bold;
        padding: 15px;
        background-color: #d5d4d4;
    }

    .le_div {
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        padding: 15px;
        padding-bottom: 10px;
        height: 35px;
    }

    .less_top_gap {
        margin-top: -5px;
    }

    #search_input {
        width: auto;
        margin-left: 20px;
    }

    #create_div {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        border-style: solid;
        padding: 5px;
    }

    #plus_button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 0;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
</style>

<div id="file_explorer">
    <div id="tree_search">Here comes the search and tree</div>
    <div id="folder_explorer_header">
        <div id="add_header" class="header_div"><button id="plus_button" onclick="show_create_div(this);">+</button>
        </div>
        <div id="name_header" class="header_div">Name</div>
        <div id="size_header" class="header_div">Gr&ouml;sse</div>
        <div id="changed_header" class="header_div">Bearbeitet von</div>
        <div id="change_date_header" class="header_div">Ge&auml;ndert</div>
    </div>
</div>
<div id="document_viewer" style="display:none">
    <object id="document_renderer">
    </object>
</div>
<div id="create_div">
    <label for="upload_file">Datei</label>
    <input id="upload_file" name="file" type="file" />
    <button onclick="upload_data();">Hochladen</button>
</div>

<script>
    const base_dir = "";
    var cur_directory = base_dir;

    function setup_file_explorer() {
        reload_cur_directory();
    }

    function update_tree_search() {
        let directories = cur_directory.split('/');
        let inner = "<a onclick='cur_directory=base_dir; reload_cur_directory()'>Daten</a>";
        let composed_dir = "";
        let first = true;
        for (let dir of directories) {
            if (!first)
                composed_dir += "/";
            first = false;
            composed_dir += dir;
            inner += "/<a onclick='cur_directory=\"" + composed_dir + "\"; reload_cur_directory();'>" + dir + "</a>";
        }
        inner += "<input id='search_input' type='text' placeholder='Suchbegriff eingeben'>"
        document.getElementById("tree_search").innerHTML = inner;
    }

    function get_icon(extension) {
        if (extension.length == 0)
            return "<div class='less_top_gap folder'></div>";
        return "<div class='less_top_gap file-icon' data-type='" + extension + "'></div>";
    }
    function data_pretty_date(date) {
        return new Intl.DateTimeFormat('de-DE', { weekday: 'short', month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }).format(new Date(Date.parse(date)));
    };

    function niceBytes(x) {
        const units = ['B', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];

        let l = 0, n = parseInt(x, 10) || 0;

        while (n >= 1024 && ++l) {
            n = n / 1024;
        }

        return (n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l]);
    }

    function update_explorer_list(files_json) {
        let list = document.getElementById("folder_explorer_header");
        for (let node of list.querySelectorAll(".le_div")) {
            list.removeChild(node);
        }
        files_json.elements.sort((a, b) => {
            if (a.size == 0)
                return -1;
            if (b.size == 0)
                return 1;
            return a.name < b.name;
        });
        for (let element of files_json.elements) {
            list.innerHTML += "<div class='le_div'>" + get_icon(element.extension) + "</div>";
            if (element.extension.length > 0)
                list.innerHTML += "<div class='le_div'><a onclick='open_data(\"/daten/" + element.full_path + "\", \"" + element.extension + "\");'>" + element.name + "</a></div>";
            else
                list.innerHTML += "<div class='le_div'><a onclick='cur_directory=\"" + element.full_path + "\"; reload_cur_directory();'>" + element.name + "</a></div>";
            list.innerHTML += "<div class='le_div'>" + (element.size == 0 ? "" : niceBytes(element.size)) + "</div>";
            list.innerHTML += "<div class='le_div'>" + element.changed_by + "</div>";
            list.innerHTML += "<div class='le_div'>" + data_pretty_date(element.change_date) + "</div>";
        }
    }

    async function get_file_list(directory) {
        let res = await fetch("/daten/" + directory, { headers: { credentials: user_credentials } });
        res = await res.json();
        return res;
    }

    async function reload_cur_directory() {
        let files = await get_file_list(cur_directory);
        if ("error" in files)
            console.log(files);
        else {
            update_explorer_list(files);
            update_tree_search();
        }
    }

    async function open_data(data_file, extension) {
        // todo: store fetched pdf to show
        let data = await fetch(data_file, { headers: { credentials: user_credentials } });
        data = await data.blob();
        let url = URL.createObjectURL(data);
        //let renderer = document.getElementById("document_renderer");
        //renderer.setAttribute("data", url);
        //switch(extension){
        //case "json":
        //case "xml":
        //case "pdf": renderer.setAttribute("type", "application/" + extension); break;
        //case "ods":
        //case "xlsm":
        //case "xls":
        //case "xltx":
        //case "xltm":
        //case "xlsx": renderer.setAttribute("type", "application/vnd.ms-excel");
        //case "jpeg":
        //case "jpg":
        //case "gif":
        //case "svg":
        //case "png": renderer.setAttribute("type", "image/" + extension); break;
        //case "wav":
        //case "ogg":
        //case "mp3": renderer.setAttribute("type", "audio/" + extension); break;
        //case "webm":
        //case "mp4": renderer.setAttribute("type", "video/" + extension); break;
        //default : renderer.setAttribute("type", "text/plain"); break;
        //}
        //document.getElementById("document_viewer").style.display = "block";
        window.open(url);
    }

    function show_create_div(element) {
        let div = document.getElementById("create_div");
        let rect = element.getBoundingClientRect();
        div.style.top = rect.bottom + "px";
        div.style.left = rect.left + "px";
        div.style.display = "block";
        let ignore_next = true;
        window.addEventListener("click", function hand(e) {
            if (ignore_next) {
                ignore_next = false;
                return;
            }
            let div_rect = div.getBoundingClientRect();
            if (e.clientX < div_rect.left || e.clientX > div_rect.right ||
                e.clientY < div_rect.top || e.clientY > div_rect.bottom) {
                div.style.display = "none";
                window.removeEventListener('click', hand);
            }
        });
    }

    function upload_data() {
        let file_input = document.getElementById("upload_file").files[0];
        let reader = new FileReader();
        reader.onload = function (evt) {
            const metadata = `name: ${file_input.name}, type: ${file_input.type}, size: ${file_input.size}, contents:`;
            const contents = evt.target.result;
            console.log(metadata, contents);
        };
        reader.readAsDataURL(file_input);
    }

    setup_file_explorer();
</script>