<style>
    object {
        width: 100%;
        height: 90vh;
    }

    .folder {
        width: 45px;
        height: 32px;
        position: relative;
        background-color: rgb(236, 180, 72);
        border-radius: 0 4px 4px 4px;
        margin-left: -10px;
    }

    .folder::before {
        content: '';
        width: 50%;
        height: 4px;
        border-radius: 4px 5px 0 0;
        background-color: rgb(236, 180, 72);
        position: absolute;
        top: -4px;
        left: 0px;
    }

    /*! fileicon.css v0.1.1 | MIT License | github.com/picturepan2/fileicon.css */
    /* fileicon.basic */
    .file-icon {
        font-family: Arial, Tahoma, sans-serif;
        font-weight: 300;
        display: inline-block;
        width: 24px;
        height: 32px;
        background: #018fef;
        position: relative;
        border-radius: 2px;
        text-align: left;
        -webkit-font-smoothing: antialiased;
    }

    .file-icon::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255, 255, 255, .35) rgba(255, 255, 255, .35);
    }

    .file-icon::after {
        display: block;
        content: attr(data-type);
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
        color: #fff;
        text-transform: lowercase;
        width: 100%;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
    }

    /* fileicons */
    .file-icon-xs {
        width: 12px;
        height: 16px;
        border-radius: 2px;
    }

    .file-icon-xs::before {
        border-bottom-left-radius: 1px;
        border-width: 3px;
    }

    .file-icon-xs::after {
        content: "";
        border-bottom: 2px solid rgba(255, 255, 255, .45);
        width: auto;
        left: 2px;
        right: 2px;
        bottom: 3px;
    }

    .file-icon-sm {
        width: 18px;
        height: 24px;
        border-radius: 2px;
    }

    .file-icon-sm::before {
        border-bottom-left-radius: 2px;
        border-width: 4px;
    }

    .file-icon-sm::after {
        font-size: 7px;
        padding: 2px;
    }

    .file-icon-lg {
        width: 48px;
        height: 64px;
        border-radius: 3px;
    }

    .file-icon-lg::before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }

    .file-icon-lg::after {
        font-size: 16px;
        padding: 4px 6px;
    }

    .file-icon-xl {
        width: 96px;
        height: 128px;
        border-radius: 4px;
    }

    .file-icon-xl::before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }

    .file-icon-xl::after {
        font-size: 24px;
        padding: 4px 10px;
    }

    /* fileicon.types */
    .file-icon[data-type=zip],
    .file-icon[data-type=rar] {
        background: #acacac;
    }

    .file-icon[data-type^=doc] {
        background: #307cf1;
    }

    .file-icon[data-type^=xls] {
        background: #0f9d58;
    }

    .file-icon[data-type^=ppt] {
        background: #d24726;
    }

    .file-icon[data-type=pdf] {
        background: #e13d34;
    }

    .file-icon[data-type=txt] {
        background: #5eb533;
    }

    .file-icon[data-type=mp3],
    .file-icon[data-type=wma],
    .file-icon[data-type=m4a],
    .file-icon[data-type=flac] {
        background: #8e44ad;
    }

    .file-icon[data-type=mp4],
    .file-icon[data-type=wmv],
    .file-icon[data-type=mov],
    .file-icon[data-type=avi],
    .file-icon[data-type=mkv] {
        background: #7a3ce7;
    }

    .file-icon[data-type=bmp],
    .file-icon[data-type=jpg],
    .file-icon[data-type=jpeg],
    .file-icon[data-type=gif],
    .file-icon[data-type=png] {
        background: #f4b400;
    }

    .file-icon[data-type=zip] {
        background: #f6cd5c;
    }


    #folder_explorer_header {
        display: grid;
        grid-template-columns: 50px 50px repeat(4, auto);
    }

    .header_div {
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        font-weight: bold;
        padding: 15px;
        background-color: #d5d4d4;
    }

    .le_div {
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        padding: 15px;
        padding-bottom: 10px;
        height: 35px;
    }

    .less_top_gap {
        margin-top: -5px;
    }

    .file_checkbox {
        width: 120%;
        height: 120%;
        margin-top: -8px;
    }

    .edit_button {
        width: 100%;
    }

    .no_c:nth-child(even) {
        background-color: white;
    }

    .qr {
        height:35px;
        float:right;
        cursor: pointer;
    }

    #search_input {
        width: auto;
        margin-left: 20px;
    }

    #create_div,
    #edit_div {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        border-style: solid;
        padding: 5px;
    }

    #edit_div {
        width: 300px;
    }

    #plus_button,
    #edit_button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 0;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    #upload_icon::after {
        font-size: 20px;
    }
</style>

<div id="file_explorer">
    <div id="tree_search">Here comes the search and tree</div>
    <div id="folder_explorer_header">
        <div id="edit_header" class="header_div"><button id="edit_button"
                onclick="show_div(this, 'edit_div');">&#9998;</button></div>
        <div id="add_header" class="header_div"><button id="plus_button"
                onclick="show_div(this, 'create_div');">+</button>
        </div>
        <div id="name_header" class="header_div">Name</div>
        <div id="size_header" class="header_div">Gr&ouml;sse</div>
        <div id="edit" class="header_div">Aktionen</div>
        <div id="change_date_header" class="header_div">Ge&auml;ndert</div>
    </div>
</div>
<div id="document_viewer" style="display:none">
    <object id="document_renderer">
    </object>
</div>
<div id="create_div">
    <table>
        <tr class="no_c">
            <td> <label for="upload_file"> <div id="upload_icon" class="file-icon" data-type="&#8657;"></div> </label> </td>
            <td><input id="upload_file" name="file" type="file" /></td>
            <td><button onclick="upload_data();" style="width:100%">Datei Hochladen</button> </td>
        </tr>
        <tr class="no_c">
            <td><label for="create_folder" style="clear:both"> <div class="folder" ></div> </label> </td>
            <td><input id="new_folder_input" type="text" style="width:auto;" /></td>
            <td><button onclick="create_folder();" style="width:100%">Ordner erstellen</button></td>
        </tr>
        <tr class="no_c">
            <td><label for="new_table_file_input" style="clear:both"> <div class="file-icon" data-type="tbl" > </div> </label></td>
            <td><input id="new_table_file_input" type="text" style="width:auto;" /></td>
            <td><button onclick="create_table_file();" style="width:100%">Tabellendatei erstellen</button></td>
        </tr>
        <tr class="no_c">
            <td><label for="new_md_file_input" style="clear:both"> <div class="file-icon" data-type="md" > </div> </label></td>
            <td><input id="new_md_file_input" type="text" style="width:auto;" /></td>
            <td><button onclick="create_md_file();" style="width:100%">Readme datei erstellen</button></td>
        </tr>
        <tr class="no_c">
            <td><label for="new_rech_file_input" style="clear:both"> <div class="file-icon" data-type="rech" > </div> </label></td>
            <td><input id="new_rech_file_input" type="text" style="width:auto;" /></td>
            <td><button onclick="create_rech_file();" style="width:100%">Rechnung erstellen</button></td>
        </tr>
        <tr class="no_c">
            <td><label for="new_gpx_file_input" style="clear:both"> <div class="file-icon" data-type="gpx" > </div> </label></td>
            <td><input id="new_gpx_file_input" type="text" style="width:auto;" /></td>
            <td><button onclick="create_gpx_file();" style="width:100%">Gpx erstellen</button></td>
        </tr>
    </table>
</div>
<div id="edit_div">
    <button class="edit_button" onclick="copy_selected()">&#128247; Kopieren</button>
    <button class="edit_button" onclick="cut_selected()">✂️ Ausschneiden</button>
    <button class="edit_button" onclick="paste_selected()">&#128203; Einf&uuml;gen</button>
    <hr>
    <input id="duplicate_count" type="number" value="1"/>
    <button class="edit_button" onclick="duplicate_selected(parseInt(document.getElementById('duplicate_count').value));">&#10697;Duplizieren</button>
    <hr>
    <input id="renamed_filename" type="text"/>
    <button class="edit_button" onclick="rename_selected(document.getElementById('renamed_filename').value);">&#9998;Umbenennen</button>
    <hr>
    <button class="edit_button" style="background-color:red" onclick="delete_selected()">&#128465; L&ouml;schen</button>
</div>

<script>
    const base_dir = "";
    var cur_directory = base_dir;
    var copy_files = [];
    var copy = true;

    function setup_file_explorer() {
        reload_cur_directory();
    }

    function update_tree_search() {
        let directories = cur_directory.split('/');
        let inner = "<a onclick='cur_directory=base_dir; reload_cur_directory()'>/daten</a>";
        let composed_dir = "";
        let first = true;
        for (let dir of directories) {
            if (!first)
                composed_dir += "/";
            first = false;
            composed_dir += dir;
            inner += "/<a onclick='cur_directory=\"" + composed_dir + "\"; reload_cur_directory();'>" + dir + "</a>";
        }
        inner += "<input id='search_input' type='text' placeholder='Suchbegriff eingeben'>"
        document.getElementById("tree_search").innerHTML = inner;
    }

    function get_icon(type, extension) {
        if (type === "d")
            return "<div class='less_top_gap folder'></div>";
        return "<div class='less_top_gap file-icon' data-type='" + extension + "'></div>";
    }
    function data_pretty_date(date) {
        return new Intl.DateTimeFormat('de-DE', { weekday: 'short', month: 'numeric', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' }).format(new Date(Date.parse(date)));
    };

    function niceBytes(x) {
        const units = ['B', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];

        let l = 0, n = parseInt(x, 10) || 0;

        while (n >= 1024 && ++l) {
            n = n / 1024;
        }

        return (n.toFixed(n < 10 && l > 0 ? 1 : 0) + ' ' + units[l]);
    }

    const qr="https://api.qrserver.com/v1/create-qr-code/";
    function edit_icon(data_extension, data_path, data_type) {
        let final="";
        const edit_icon = "✍";
        switch(data_extension) { 
            case "md" :
            case "tbl": 
            case "gpx": 
            case "rech": final = `<a style='font-size:150%;' onclick='open_editor("${data_path}", "${data_extension}");'> ${edit_icon} </a>&nbsp;`;
            let editor_path = window.location.origin + `/edit_${data_extension}/${data_path}`;
            final += "<img class='qr' src='" + qr + "?size=150x150&data=" + editor_path + "&format=svg&qzone=1' onclick='window.open(this.src);'>"
        }
        if (data_type != "d")
            final += "<a href='/daten/" + data_path + "' download>\u21E9</a>"
        return final;
    }

    function update_explorer_list(files_json) {
        let list = document.getElementById("folder_explorer_header");
        for (let node of list.querySelectorAll(".le_div")) {
            list.removeChild(node);
        }
        files_json.elements.sort((a, b) => {
            if (a.size == 0 && b.size != 0)
                return -1;
            if (b.size == 0 && a.size != 0)
                return 1;
            return +(a.name > b.name) * 2 - 1;
        });
        for (let element of files_json.elements) {
            list.innerHTML += "<div class='le_div'><input type='checkbox' class='file_checkbox' file='" + element.full_path + "'/></div>";
            list.innerHTML += "<div class='le_div'>" + get_icon(element.type, element.extension) + "</div>";
            if (element.type === "d")
                list.innerHTML += "<div class='le_div'><a onclick='cur_directory=\"" + element.full_path + "\"; reload_cur_directory();'>" + element.name + "</a></div>";
            else {
                let filepath = window.location.origin + "/daten/" + element.full_path;
                list.innerHTML += "<div class='le_div'><a onclick='open_data(\"/daten/" + element.full_path + "\", \"" + element.extension + "\");'>" + element.name + "</a><img class='qr' src='" + qr + "?size=150x150&data=" + filepath + "&format=svg&qzone=1' onclick='window.open(this.src);'></div>";
            }
            list.innerHTML += "<div class='le_div'>" + (element.size == 0 ? "" : niceBytes(element.size)) + "</div>";
            list.innerHTML += "<div class='le_div' style='font-aling'>" + edit_icon(element.extension, element.full_path, element.type) + "</div>";
            list.innerHTML += "<div class='le_div'><a href='/git_history/" + element.full_path + "'>" + data_pretty_date(element.change_date) + "</a></div>";
        }
    }

    async function get_file_list(directory) {
        let res = await fetch("/daten/" + directory);
        res = await res.json();
        return res;
    }

    async function reload_cur_directory() {
        let files = await get_file_list(cur_directory);
        if ("error" in files)
            console.log(files);
        else {
            update_explorer_list(files);
            update_tree_search();
        }
    }

    async function open_data(data_file, extension) {
        window.open(data_file);
    }

    function show_div(element, id) {
        let div = document.getElementById(id);
        let rect = element.getBoundingClientRect();
        div.style.top = rect.bottom + "px";
        div.style.left = rect.left + "px";
        div.style.display = "block";
        let ignore_next = true;
        window.addEventListener("click", function hand(e) {
            if (ignore_next) {
                ignore_next = false;
                return;
            }
            let div_rect = div.getBoundingClientRect();
            if (e.clientX < div_rect.left || e.clientX > div_rect.right ||
                e.clientY < div_rect.top || e.clientY > div_rect.bottom) {
                div.style.display = "none";
                window.removeEventListener('click', hand);
            }
        });
    }

    function upload_data() {
        let file_input = document.getElementById("upload_file").files[0];
        let reader = new FileReader();
        reader.onload = async function (evt) {
            const metadata = `name: ${file_input.name}, type: ${file_input.type}, size: ${file_input.size}, contents:`;
            const contents = evt.target.result;
            let res = await fetch("/upload_daten", {
                headers: {
                    path: (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + file_input.name,
                },
                method: "POST",
                body: contents,
            });
            res = await res.json();
            if ("error" in res)
                console.log(res);
            else
                reload_cur_directory();
        };
        reader.readAsArrayBuffer(file_input);
    }

    async function create_folder() {
        let folder_name = document.getElementById("new_folder_input").value;
        let folder_path = (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + folder_name;
        let res = await fetch("/create_folder", { headers: { path: folder_path } });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }

    async function create_table_file() {
        let file_name = document.getElementById("new_table_file_input").value;
        let file_path = (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + file_name + ".tbl";
        let res = await fetch("/create_file", { headers: { path: file_path } });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }
    
    async function create_md_file() {
        let file_name = document.getElementById("new_md_file_input").value;
        let file_path = (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + file_name + ".md";
        let res = await fetch("/create_file", { headers: { path: file_path } });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }
    
    async function create_rech_file() {
        let file_name = document.getElementById("new_rech_file_input").value;
        let file_path = (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + file_name + ".rech";
        let res = await fetch("/create_rech", { headers: { path: file_path } });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }
    
    async function create_gpx_file() {
        let file_name = document.getElementById("new_gpx_file_input").value;
        let file_path = (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/") + file_name + ".gpx";
        let res = await fetch("/create_file", { headers: { path: file_path } });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }

    function update_selected_files() {
        copy_files = [];
        for (let c of document.getElementsByClassName("file_checkbox")) {
            if (c.checked)
                copy_files.push(c.getAttribute("file"));
        }
    }
    function copy_selected() {
        update_selected_files();
        copy = true;
    }

    function cut_selected() {
        update_selected_files();
        copy = false;
    }

    async function paste_selected() {
        let send_data = {
            copy: copy,
            files: copy_files,
            files_to: (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/"),
        };
        let res = await fetch("/move_daten", {
            method: "POST",
            body: JSON.stringify(send_data),
        });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }
    
    async function duplicate_selected(n_copies) {
        update_selected_files();
        let send_data = {
            copy: true,
            duplicate: n_copies,
            files: copy_files,
            files_to: (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/")
        }
        let res = await fetch("/move_daten", {
            method: "POST",
            body: JSON.stringify(send_data),
        });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }

    async function rename_selected(new_name) {
        update_selected_files();
        let send_data = {
            copy: true,
            new_name: new_name,
            files: copy_files,
            files_to: (cur_directory == null || cur_directory == "" ? "" : cur_directory + "/")
        }
        let res = await fetch("/move_daten", {
            method: "POST",
            body: JSON.stringify(send_data),
        });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }

    async function delete_selected() {
        update_selected_files();
        let res = await fetch("/delete_daten", {
            method: "POST",
            body: JSON.stringify(copy_files),
        });
        res = await res.json();
        if (!("success" in res))
            console.log(res);
        reload_cur_directory();
    }

    async function open_editor(file_path, file_extension) {
        // opening the editor works by retrieving the editor page with credentials
        // and then opening a new window with the retrieved body as blob in new window
        let url = `/edit_${file_extension}/${file_path}`;
        window.open(url);
    }

    setup_file_explorer();
</script>
