<script>
    async function change_pwd(){
        let username = document.getElementById("uname").value;
        if (!username || username.length === 0)
            username = "{{benutzername}}";
        let password = document.getElementById("password").value;
        let passwordw = document.getElementById("passwordw").value;
        if (password.length === 0 || passwordw !== password) {
            document.getElementById("errorpwd").style.display = "block";
            setTimeout(()=>{document.getElementById("errorpwd").style.display = "none";}, 5000);
            return;
        }
        const encoder = new TextEncoder();
        let hash = await window.crypto.subtle.digest("SHA-256", encoder.encode(`${username}:user@minifuziserver.duckdns.org:${password}`));
        hash = new Uint8Array(hash).toHex();
        let res = await fetch("/change_password/" + username, {
            headers: { new_pwd: hash }
        });
        res = await res.text();
        console.log(res);
    }
    
    async function delete_user(uname) {
        let res = await fetch(window.location.origin + "/delete_user/" + uname)
        res = await res.text();
        console.log(res);
    }
</script>
<p><b>Passwort &auml;ndern:</b><p>
<div class="inset">
    <div class="admin">
        <label for="uname"><b>Benutzername</b></label>
        <input id="uname" type="text" placeholder="Benutzername" name="uname">
    </div>

    <label for="psw"><b>Passwort</b></label>
    <input id="password" type="password" placeholder="Passwort" name="psw" required>
    <label for="psww"><b>Passwort wiederholen</b></label>
    <input id="passwordw" type="password" placeholder="Passwort wiederholen" name="psww" required>
    <div id="errorpwd" style="color:red;display:none">Passwörter stimmen nicht überein</div>

    <button onclick="change_pwd()">Passwort &Auml;ndern</button>

</div>
<div class="admin">
    <p><b>Benutzer l&ouml;schen:</b></p>
    <div class="inset">
        <label for="deletename"><b>Benutzername</b></label>
        <input id="deleteuname" type="text" placeholder="Benuztername" name="deletename">
        
        <button onclick="delete_user(getElementById('deleteuname').value)">Benutzer l&ouml;schen</button>
    </div>
</div>
