<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #timeclock_buttons {
        display: grid;
        grid-template-columns: 50% 50%
    }

    #timeclock_info_text {
        font-size: 40px;
    }

    .timeclock_button {
        width: 200px;
        height: 150px;
        font-size: 35px;
        border-radius: 20px;
    }

    .timeclock_button:disabled {
        background-color: dimgrey;
        color: linen;
        opacity: .9;
        cursor: default;
    }

    .collapsible_header {
        background-color: gray;
        color: white;
        cursor: pointer;
        padding: 15px;
        margin: 2px;
        width: 100%;
        text-align: left;
    }

    .collapsible_active,
    .collapsible_header:hover {
        background-color: rgb(57, 57, 57);
    }

    .collapsible_content {
        margin-left: 5%;
        display: none;
        overflow: hidden;
        background-color: rgb(240, 240, 240);
    }
</style>
<div id="timeclock" class="user">
    <div id="timeclock_info_text">
        <center id="shift_text">
            Derzeit keine Schicht offen
        </center>
    </div>
    <div id="timeclock_buttons">
        <div id="timeclock_start">
            <center>
                <button id="shift_start" class="timeclock_button" onclick="start_shift();">Schicht start</button>
            </center>
        </div>
        <div id="timeclock_end">
            <center>
                <button id="shift_end" class="timeclock_button" disabled onclick="end_shift();">Schicht ende</button>
            </center>
        </div>
    </div>
</div>
<div id="timeclock_admin" class="admin">

</div>
<hr>
<div id="shift_list">
    Alle get&auml;tigten Arbeitszeiten:
    <div id="shift_entries">
    </div>
</div>

<script>
    function setup_stempeluhr() {
        // getting all recorded shifts and displaying them
        update_shifts_table();
        update_shifts_text();
    }
    async function start_shift() {
        let res = await fetch(location.origin + "/start_shift/{{benutzername}}", { headers: { credentials: user_credentials}});
        let res_json = await res.json();
        if ("error" in res_json)
            console.log(res_json.error);
        else 
            update_shifts_text();
    }
    async function end_shift() {
        let res = await fetch(location.origin + "/end_shift/{{benutzername}}", { headers: { credentials: user_credentials}});
        let res_json = await res.json();
        if ("error" in res_json)
            console.log(res_json.error);
        else {
            update_shifts_text();
            update_shifts_table();
        }
    }
    function shift_table_date(date) {
        return new Intl.DateTimeFormat('de-DE', { weekday: 'short', month: 'numeric', day: 'numeric', year: 'numeric', hour:'numeric', minute:'numeric'}).format(new Date(Date.parse(date)));
    };
    async function update_shifts_table() {
        let table_header = "<tr><th>Id</th> <th>Genauer Start</th><th>Geanues Ende</th><th>Start</th><th>Ende</th></tr>";
        fetch(location.origin + "/get_shifts", { headers: { credentials: user_credentials}})
            .then(response => {
                response.json().then(entries => {
                    let user_shifts = "";
                    for (let [user, shifts] of Object.entries(entries)) {
                        // for each user we create a button and the collapsible list of items
                        user_shifts += "<button class='collapsible_header' onclick='toggle_collapsible_content(this);'>" + user + "</button>";
                        user_shifts += "<div class='collapsible_content'><table>";
                        user_shifts += table_header;
                        for (let shift of shifts)
                            user_shifts += "<tr> <td>" + shift.id + "</td><td>" + shift_table_date(shift.original_start_time) + "</td><td>" + shift_table_date(shift.original_end_time) + "</td><td>" + shift_table_date(shift.start_time) + "</td><td>" + shift_table_date(shift.end_time) + "</td></tr>";
                        user_shifts += "</table></div>";
                    }
                    document.getElementById("shift_entries").innerHTML = user_shifts;
                });
            });
    }
    async function update_shifts_text() {
        let res = await fetch(location.origin + "/check_active_shift/{{benutzername}}", { headers: { credentials: user_credentials}});
        let res_json = await res.json();
        if ("error" in res_json)
            console.log(res_json.error);
        else {
            if (res_json.shift_status === "active") {
                document.getElementById("shift_text").innerHTML = "Schicht läufft seit: " + shift_table_date(res_json.start_time);
                document.getElementById("shift_start").setAttribute("disabled", "");
                document.getElementById("shift_end").removeAttribute("disabled");
            }
            else {
                document.getElementById("shift_text").innerHTML = "Derzeit keine Schicht offen";
                document.getElementById("shift_start").removeAttribute("disabled");
                document.getElementById("shift_end").setAttribute("disabled", "");
            }
        }
    }

    function toggle_collapsible_content(header) {
        header.classList.toggle("active_collapsible");
        let content = header.nextElementSibling;
        if (content.style.display === "block")
            content.style.display = "none";
        else
            content.style.display = "block";
    }

    setup_stempeluhr();
</script>