<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Md Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="/md_default.css">
    <style>
        textarea {
            font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
            resize: horizontal;
        }

        {{#editor}}
        body {
            max-width: 100%;
            width: auto;
        }
        {{/editor}}

        #save {
            border: none;
            background-color: white;
            cursor: pointer;
        }

        #content {
            width: 100%;
            height: 100%;
            {{#editor}}
            display: grid;
            grid-template-columns: auto auto;
            {{/editor}}
        }

        #editor_text {
            width: 100%;
            {{#editor}}
            height: 75vh;
            {{/editor}}
        }

        #log_div {
            width: 100%;
            height: 10vh;
            overflow: scroll;
        }

        #preview {
            margin-left: 15px;
            {{#editor}}
            height: 88vh;
            {{/editor}}
            overflow: scroll;
        }

        #title {
            font-size: 2em;
            font-weight: bold;
        }

        {{^editor}}
        .editor {
            display: none;
        }
        {{/editor}}

        .log_line:nth-child(even) {
            background-color: lightgrey;
        }
    </style>
    <!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>-->
    <script type="text/javascript" src="/drawdown.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.esm.min.mjs"></script>
</head>

<body>
    {{#editor}}
    <div id="header">
        <center id="title">Markdown Editor</center>
        <button id="save" onclick="save();">&#128190;</button>
        <button id="d_html" onclick="download_html();">Html Herunterladen</button>
    </div>
    {{/editor}}
    <div id="content">
        <div id="editor" class="editor">
            <textarea id="editor_text" oninput="recompile();">{{file_data}}</textarea>
            <p><b>Compile log:</b></p>
            <div id="log_div"></div>
        </div>
        <div id="preview" class="preview">
            <!-- This window is filled by the recompile function -->
        </div>
    </div>
</body>
<script>
    const file_path = "{{&file_path}}";
    var file_revision = "{{&file_revision}}";

    async function download_html() {
        let project_name = file_path.replace(/.*\//, '').replace(/\..*/, '');
        let file_name = project_name + ".html";

        let css = await fetch("/md_default.css");
        css = await css.text();

        let page = `
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>${project_name}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/atom-one-light.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"><\/script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"><\/script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"><\/script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@latest/dist/mermaid.esm.min.mjs"> <\/script>
    <style>
    ${css}
    </style>
</head>
<body>
${document.getElementById("preview").innerHTML}
</body>
</html>
`;
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(page));
        element.setAttribute('download', file_name);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    function reattach_script(script_node) {
        let new_script_node = document.createElement("script");
        new_script_node.innerHTML = script_node.innerHTML;
        [...script_node.attributes].forEach(a => new_script_node.setAttribute(a.nodeName, a.nodeValue));
        script_node.parentNode.replaceChild(new_script_node, script_node);
    }

    function recompile() {
        // update the render window
        const t = document.getElementById("editor_text").value;

        // basic readme update
        let out_div = document.getElementById("preview");
        let prev_scroll = out_div.scrollTop;
        out_div.innerHTML = '';
        out_div.innerHTML = markdown(t);

        // add table of contents (toc) if requested
        document.querySelectorAll('toc').forEach((toc_e) => {
            // collect all headers following the toc
            let toc = [];
            let cur = toc_e;
            while (cur.nextElementSibling != null && !['toc', 'TOC'].includes(cur.nextElementSibling.tagName)) {
                cur = cur.nextElementSibling;
                // we have got a header
                if (['H1', 'H2', 'H3', 'H4'].includes(cur.tagName)) {
                    let header_lvl = +cur.tagName.slice(1);
                    let cur_header = {
                        text: '<a href=#' + cur.id + '>' + cur.innerHTML + '</a>',
                        lvl: header_lvl,
                        subsections: []
                    };
                    let arr = toc;
                    for (; arr.length > 0 && arr[arr.length - 1].lvl < header_lvl; arr = arr[arr.length - 1].subsections) { }
                    arr.push(cur_header);
                }
            }
            if (toc.length == 0)
                return;
            let list_string = "<ol class='decimal'>";
            const print_arr_form = (arr, inset) => {
                for (let e of arr) {
                    list_string += "\n<li class='decimal'>" + e.text;
                    if (e.subsections.length) {
                        list_string += "\n<ol class='decimal'>";
                        print_arr_form(e.subsections, inset + 2);
                        list_string += "\n</ol>";
                    }
                    list_string += "</li>";
                }
            }
            print_arr_form(toc, 0);
            toc_e.innerHTML = list_string + "</ol>";
        });
        
        scripts = [...out_div.getElementsByTagName('script')];
        scripts.map(
            s => reattach_script(s)
        );

        // starting to convert formulas with katex
        renderMathInElement(out_div, { delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: true},
              {left: "\\(", right: "\\)", display: false},
              {left: "\\begin{equation}", right: "\\end{equation}", display: true},
              {left: "\\begin{align}", right: "\\end{align}", display: true},
              {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
              {left: "\\begin{gather}", right: "\\end{gather}", display: true},
              {left: "\\begin{CD}", right: "\\end{CD}", display: true},
              {left: "\\[", right: "\\]", display: true}
          ], throwOnError: false});

        out_div.scroll(0, prev_scroll);
        if (!rescaled) {
            document.getElementById("editor_text").style.width = document.body.offsetWidth / 2 + "px";
            rescaled = true;
        }
    }

    async function save() {
        let res = await fetch(location.origin + "/update_file", {
            headers: { path: file_path, revision: file_revision },
            method: "POST",
            body: document.getElementById("editor_text").value,
        });
        res = await res.json();
        if (res.revision)
            file_revision = res.revision;
        if (res.merged_content && res.merged_content.length > 0)
            document.getElementById("editor_text").value = res.merged_content;

        delete res.merged_content;
        console.log(res);
    }

    var saved_md_data = document.getElementById("editor_text").value;
    {{#editor}}
    window.setInterval(() => {
        if (saved_md_data != document.getElementById("editor_text").value) {
            save();
            saved_md_data = document.getElementById("editor_text").value;
        }
    }, 5000);
    {{/editor}}

    let rescaled = false;
    function setup() {
        recompile();
    }
    
    // reroute logging to log div
    function reroute(type) {
        let logger = document.getElementById("log_div");
        console["old" + type] = console[type];
        console[type] = function (...arguments) {
            for (var i = 0; i < arguments.length; ++i) {
                if (typeof arguments[i] == "object")
                    logger.innerHTML += "<div class='log_line'>" + (JSON && JSON.stringify ? JSON.stringify(arguments[i], undefined, 2): arguments[i]) + "</div>";
                else
                    logger.innerHTML += "<div class='log_line'>" + arguments[i] + "</div>";
            }
            console["old" + type](...arguments);
        };
    }
    reroute('log');
    reroute('error');
    reroute('warn');
    reroute('debug');
    reroute('info');
    // rerouting window error
    window.onerror = (message, source, lineno, colno, error) => {
        console.error(message);
    };
    window.onload = () => { setup(); };
</script>

</html>
