html * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 30cm;
    margin: auto;
}

a {
    cursor: pointer;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

h1 {
    font-size: 250%;
    text-align: center;
}

h2 {
    font-size: 200%;
    border-bottom: 2px #4f9f98 solid;
}

h3 {
    font-size: 150%;
}

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

blockquote {
    margin-left: 0;
    padding: 0.5em 0 0.5em 2em;
    border-left: 3px solid rgb(211, 218, 234);
}

li,
code {
    margin: 0.4em 0;
}

p {
    margin: 0.9em 0;
}

code {
    background: rgba(186, 193, 208, 0.412);
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

img {
    width: 80%;
}

pre>code {
    display: block;
    overflow-x: scroll;
    border-radius: 5px;
    padding: 0.5em 2em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 4px 8px;
}

tr:nth-child(2n) {
    background: #f3f3f3;
}

th {
    border-bottom: 1px solid #aaa;
}

ol.decimal {
    counter-reset: list_counter;
    padding-left: 32px;
}

ol li.decimal{
    counter-increment: list_counter;
}

ol li.decimal::marker{
    content: counters(list_counter, '.') ' ';
    /* Whatever custom styles you want here */
    font-weight: bold;
}

.plain,
.markdown {
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0;
}

.plain {
    border: 0;
    border-right: 1px solid #000;
    padding: 12px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    resize: none;
}

.markdown {
    left: 50%;
    padding: 0 0 0 12px;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
}

.katex-display {
    display: inline-block;
    font-size: unset;
    margin: 0;
}

.katex-display > .katex > .katex-html > .tag {
    right: unset;
}

code > span,
code > span > span{
    font-family: unset
}

