<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Tbl Editor</title>
    <style>
        html * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
        }
        
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
        {{#editor}}
            overflow: hidden;
        {{/editor}}
        }

        body {
            display: table;
        }

        #header, #table_filler {
            display: table-row;
        }
        
        #header + #table_filler {
            height: 100%;
        }

        a {
            cursor: pointer;
        }

        button {
            border: none;
            background-color: white;
            cursor: pointer;
        }

        input {
            border-style: solid;
            border-color: lightgray;
        }

        .tool_bar {
            display: block;
            white-space: nowrap;
            background-color: #e2e3ff;
            padding: 6px;
            border-radius: 35px;
        }

        .tool_bar_separator {
            display: inline-block;
            width: 0px;
            border-style: solid;
            border-width: 1px;
            border-color: lightgrey;
            height: 1.5em;
            margin-bottom: -.6em;
        }

        .input_bar {
            display: block;
            padding: 15px;
        }

        .tool_item {
            vertical-align: middle;
            display: inline-block;
            background: none;
            overflow: hidden;
        }

        #tool_item_content {
            width: 50%;
        }

        {{#editor}}
        .table_field {
            border-style: solid;
            border-width: 1px;
            border-color: lightgrey;
            user-select: none;
        }

        .table_field_selected,
        .table_field:hover,
        .table_col_header:hover,
        .table_row_header:hover {
            background-color: lightblue;
        }
        {{/editor}}

        .table_col_header,
        .table_row_header {
            border-style: solid;
            cursor: pointer;
            user-select: none;
            text-align: center;
            font-weight: bold;
            border-width: 1px;
        }

        .flip {
            transform: scale(-1, 1);
        }

        #font_size_input {
            border-radius: 4px;
            width: 60px;
        }

        #table,
        #column_labels {
            width: 100%;
            display: grid;
            border-collapse: collapse;
        }

        #table {}

        #row_labels,
        #empty_cell {
            width: 50px;
        }

        #empty_cell,
        #column_labels {
            height: 40px;
        }

        #column_labels,
        #row_labels {
            border-style: solid;
            border-width: 2px;
            border-color: gray;
            margin-top: -2px;
            margin-left: -2px;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        #column_labels::-webkit-scrollbar,
        #row_labels::-webkit-scrollbar {
            display: none;
        }

        .col_width {
            width: 200px;
        }

        .row_height {
            height: 40px;
        }

        #column_labels,
        #row_labels,
        #table {
            height: 100%;
            overflow: scroll;
        }

        .table_col_header {
            resize: horizontal;
            overflow: auto;
        }

        .table_row_header {
            resize: vertical;
            overflow: auto;
        }

        #table_container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto 1fr;
        }

        #select_end {
            vertical-align: middle;
        }

        #flex_container {
            display: flex;
            flex-flow: column;
            height: 100%
        }

        #flex_container #header {
            flex: 0 1 auto;
        }

        #flex_container #table_container {
            flex: 1 1 auto;
        }

        {{^editor}}
        #empty_cell, #column_labels, #row_labels, #tool_bar, #input_bar{
            display: none;
        }
        {{/editor}}

        @media print{
            ::-webkit-scrollbar {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div id="header">
        <div id="editor_header">
            <p style="font-size:200%; text-align:center">{{file_name}}</p>
            <div id="tool_bar" class="tool_bar">
                <button id="save" class="tool_item" onclick="save();">&#128190;</button>
                <div class="tool_bar_separator"></div>
                <div id="font_size" class="tool_item">
                    <a onclick="font_delta(1);">+</a>
                    <input id="font_size_input" value="" onchange="font_size_changed()" />
                    <a onclick="font_delta(-1);">-</a>
                </div>
                <div class="tool_bar_separator"></div>
                <div class="tool_item">
                    <button onclick="toggle_font_bold();"><b>B</b></button>
                </div>
                <div class="tool_item">
                    <button onclick="toggle_font_italic();"><i>I</i></button>
                </div>
                <div class="tool_item">
                    <button onclick="toggle_font_del();"><del>D</del></button>
                </div>
                <div class="tool_bar_separator"></div>
                <input id="text_color_picker" type="color" class="tool_item"
                    onchange="change_color('color', this)">A</input>
                <input id="background_color_picker" type="color" class="tool_item"
                    onchange="change_color('background-color', this)" value="#ffffff">&#129699;</input>
                <div class="tool_bar_separator"></div>
                <button id="align_left" onclick="align('left');" class="flip">&#8694;</button>
                <button id="align_center" onclick="align('center');">&#9776;</button>
                <button id="align_right" onclick="align('end');">&#8694;</button>
                <div class="tool_bar_separator"></div>
                <button id="add_new_row_below" onclick="" class="tool_item">&#9088;</button>
                <div class="tool_bar_separator"></div>
                <button id="add_ballot_box" onclick="add_ballot_box();">&#9745;</button>
                <div class="tool_bar_separator"></div>
                <button id="fit_col_to_text_width" onclick="fit_col_to_text_width();">Textbreite</button>
            </div>
        </div>

        <div id="input_bar" class="input_bar">
            <input id="cell_selection" class="tool_item" type="dropdown" value="A1" onchange="update_selected();" />
            <button id="select_end" onclick="next_end=true;">&#9974;</button>
            <div class="tool_item">f(x) = </div>
            <input id="tool_item_content" class="tool_item" type="text" onchange="update_text(this)" />
            <button id="insert_cells_toggle" onclick="toggle_insert_cells();">&#9633;</button>
        </div>
    </div>

    <div id="table_filler">
        <div id="table_container">
            <div id="empty_cell"></div>
            <div id="column_labels" onscroll="sync_scroll(this)"></div>
            <div id="row_labels" onscroll="sync_scroll(this)"></div>
            <div id="table" onscroll="sync_scroll(this)"></div>
            <!--The table is created programmatically, see init_table()-->
        </div>
    </div>
</body>
<script>
    const a_code = "A".charCodeAt(0);
    const file_path = '{{&file_path}}';
    var file_revision = "{{&file_revision}}";
    const ballot_box = "&#9744;";
    const ballot_box_checked = "&#9745;";

    var table_data = null;
    try {
        table_data = JSON.parse('{{&file_data}}');
    }
    catch (e) {
        table_data = {};
        console.log(e);
    }
    var next_end = false;

    function create_cell(cell_pos, options = {}) {
        return {
            type: "cell",
            cell_pos: cell_pos,
            content: "content" in options ? options.content : "",
            style: "style" in options ? options.style : {}
        }
    }
    function create_col_header(cell_pos, width) {
        return {
            type: "col_header",
            cell_pos: cell_pos,
            width: width,
        }
    }
    function create_row_header(cell_pos, height) {
        return {
            type: "row_header",
            cell_pos: cell_pos,
            height: height,
        }
    }
    function update_cell_div(cell) {
        let div = document.getElementById(cell.cell_pos);
        switch (cell.type) {
            case "cell":
                div.innerHTML = cell.content;
                div.removeAttribute("style");
                for (let [s, v] of Object.entries(cell.style)) {
                    div.style[s] = v;
                }
                break;
            case "col_header":
                resize_col([{ target: { id: cell.cell_pos }, contentRect: { width: cell.width } }]);
                break;
            case "row_header":
                resize_row([{ target: { id: cell.cell_pos }, contentRect: { height: cell.height } }]);
                break;
        }
    }
    function font_size_changed() {
        let font_size = (document.getElementById("font_size_input").value);
        for (let id of iterate_selected_cells_id()) {
            if (font_size == "")
                delete table_data[id].style["font-size"];
            else {
                if (id in table_data) {
                    table_data[id].style["font-size"] = font_size + "mm";
                }
                else
                    table_data[id] = create_cell(id, { style: { "font-size": font_size } });
            }

            update_cell_div(table_data[id]);
        }
    }
    function font_delta(p) {
        let size_input = document.getElementById("font_size_input");
        size_input.value = String(Math.max(parseFloat(size_input.value) + p, 1));
        font_size_changed();
    }
    function toggle_font_bold() {
        for (let id of iterate_selected_cells_id()) {
            if (id in table_data) {
                if ("font-weight" in table_data[id].style)
                    delete table_data[id].style["font-weight"];
                else
                    table_data[id].style["font-weight"] = "bold";
            }
            else
                table_data[id] = create_cell(id, { style: { "font-weight": "bold" } });
            update_cell_div(table_data[id]);
        }
    }
    function toggle_font_italic() {
        for (let id of iterate_selected_cells_id()) {
            if (id in table_data) {
                if ("fontStyle" in table_data[id].style)
                    delete table_data[id].style.fontStyle;
                else
                    table_data[id].style.fontStyle = "italic";
            }
            else
                table_data[id] = create_cell(id, { style: { fontStyle: "italic" } });
            update_cell_div(table_data[id]);
        }
    }
    function toggle_font_del() {
        for (let id of iterate_selected_cells_id()) {
            if (id in table_data) {
                if ("textDecoration" in table_data[id].style)
                    delete table_data[id].style.textDecoration;
                else
                    table_data[id].style.textDecoration = "line-through";
            }
            else
                table_data[id] = create_cell(id, { style: { textDecoration: "line-through" } });
            update_cell_div(table_data[id]);
        }
    }
    function align(at) {
        for (let id of iterate_selected_cells_id()) {
            if (id in table_data)
                table_data[id].style.textAlign = at;
            else
                table_data[id] = create_cell(id, { style: { textAlign: at } });
            update_cell_div(table_data[id]);
        }
    }
    function update_text(input_field) {
        if (insert_cells_text)
            return;
        for (let id of iterate_selected_cells_id()) {
            if (!(id in table_data))
                table_data[id] = create_cell(id);
            table_data[id].content = input_field.value;
            update_cell_div(table_data[id]);
        }
        update_functions();
    }
    function sync_scroll(div) {
        let t = document.getElementById("table");
        let cl = document.getElementById("column_labels");
        let rl = document.getElementById("row_labels");

        if (div.id == "column_labels" || div.id == "table") {
            let left = div.scrollLeft;
            t.scrollLeft = left;
            cl.scrollLeft = left;
        }
        if (div.id == "row_labels" || div.id == "table") {
            let top = div.scrollTop;
            t.scrollTop = top;
            rl.scrollTop = top;
        }
    }

    function init_table() {
        const col_range = ["A".charCodeAt(0), "Z".charCodeAt(0)];
        const row_range = [1, 200];
        const num_cols = col_range[1] - col_range[0] + 1;
        const num_rows = row_range[1] - row_range[0] + 1;
        let table_div = document.getElementById("table");
        let column_labels = document.getElementById("column_labels");
        let row_labels = document.getElementById("row_labels");
        table_div.style.gridTemplateColumns = column_labels.style.gridTemplateColumns = "repeat(" + num_cols + ", auto)";
        table_div.style.gridTemplateRows = row_labels.style.gridTemplateRows = "repeat(" + num_rows + ", auto)";
        let inner = "";
        let inner_cols = "";
        let inner_rows = "";
        for (let r = 0; r < num_rows; r++) {
            for (let c = 0; c < num_cols; c++) {
                let row = String(row_range[0] + r);
                let col = String.fromCharCode(col_range[0] + c);
                let id = col + row;

                inner += `<div id="${id}" class="table_field col_width row_height row_${row} col_${col}" draggable="true" onclick="select_cell(this);" ondragstart="select_cell(this);" ondragover="select_end_cell(this);"></div>`;

                if (r == 0)
                    inner_cols += `<div id="${col}:${col}" class="table_col_header col_width col_${col}" draggable="true" onclick="select_cell(this);" ondragstart="select_cell(this);" ondragover="select_end_cell(this);">${col}</div>`;
                if (c == 0)
                    inner_rows += `<div id="${row}:${row}" class="table_row_header row_height row_${row}" draggable="true" onclick="select_cell(this);" ondragstart="select_cell(this);" ondragover="select_end_cell(this);">${row}</div>`;
            }
        }
        table_div.innerHTML = inner;
        column_labels.innerHTML = inner_cols;
        row_labels.innerHTML = inner_rows;
        {{#editor}}
        for (let r = 0; r < num_rows; r++) {
            let id = `${r + row_range[0]}:${r + row_range[0]}`;
            new ResizeObserver((e) => resize_row(e)).observe(document.getElementById(id));
        }
        for (let c = 0; c < num_cols; c++) {
            let id = `${String.fromCharCode(c + a_code)}:${String.fromCharCode(c + a_code)}`;
            new ResizeObserver((e) => resize_col(e)).observe(document.getElementById(id));
        }
        {{/editor}}
    }

    function get_start_end_cell(cell_ids) {
        let start_end = cell_ids.split(":");
        if (start_end.length == 1) {
            const col = start_end[0].charCodeAt(0) - "A".charCodeAt(0);
            const row = parseInt(start_end[0].slice(1));
            return [row, row, col, col];
        }
        let start_row = 1;
        let start_col = 0;
        if (start_end[0].length == 1 && isNaN(parseInt(start_end[0]))) { // only col
            start_col = start_end[0].charCodeAt(0) - "A".charCodeAt(0);
        }
        else if (!isNaN(parseInt(start_end[0]))) { // only row
            start_row = parseInt(start_end[0]);
        }
        else {  // col and row
            start_col = start_end[0].charCodeAt(0) - "A".charCodeAt(0);
            start_row = parseInt(start_end[0].slice(1));
        }
        let end_row = start_row;
        let end_col = start_col;
        if (start_end.length == 2) {
            if (start_end[1].length == 1 && isNaN(parseInt(start_end[1]))) { // only col
                end_col = start_end[1].charCodeAt(0) - "A".charCodeAt(0);
                end_row = 1 << 20;
            }
            else if (!isNaN(parseInt(start_end[1]))) { // only row
                end_row = parseInt(start_end[1]);
                end_col = "Z".charCodeAt(0) - a_code;
            }
            else {  // col and row
                end_col = start_end[1].charCodeAt(0) - "A".charCodeAt(0);
                end_row = parseInt(start_end[1].slice(1));
            }
        }
        return [start_row, end_row, start_col, end_col];
    }
    function* iterate_selected_cells_id(selected = document.getElementById("cell_selection").value) {
        let rs, re, cs, ce;
        [rs, re, cs, ce] = get_start_end_cell(selected);
        for (let r = Math.max(rs, 1); r <= Math.min(re, 200); ++r)
            for (let c = Math.max(cs, 0); c <= Math.min(ce, 200); ++c)
                yield String.fromCharCode(a_code + c) + r;
        return "A0";
    }
    var drag_start_cell = null;
    var insert_cells_text = false;
    var insert_cells_id = null;
    function toggle_insert_cells() {
        insert_cells_text = !insert_cells_text;
        if (insert_cells_text) {
            document.getElementById("insert_cells_toggle").innerHTML = "&#9635;";
            insert_cells_id = document.getElementById("cell_selection").value;
        }
        else {
            document.getElementById("insert_cells_toggle").innerHTML = "&#9633;";
            document.getElementById("cell_selection").value = insert_cells_id;
            update_text(document.getElementById("tool_item_content"));
            update_selected();
        }
    }
    function select_cell(cell) {
        if (next_end) {
            select_end_cell(cell);
            next_end = false;
        }
        else {
            document.getElementById("cell_selection").value = cell.id;
            drag_start_cell = cell.id;
            update_selected();
        }
        let tic = document.getElementById("tool_item_content");
        if (!insert_cells_text) {
            let c = cell.id in table_data && table_data[cell.id].type == "cell" ? table_data[cell.id].content : "";
            tic.value = c;
            if (cell.id in table_data && "background-color" in table_data[cell.id].style)
                document.getElementById("background_color_picker").value = table_data[cell.id].style["background-color"];
            else
                document.getElementById("background_color_picker").value = "#ffffff";
            if (cell.id in table_data && "color" in table_data[cell.id].style)
                document.getElementById("text_color_picker").value = table_data[cell.id].style["color"];
            else
                document.getElementById("text_color_picker").value = "#000000";
            if (cell.id in table_data && "font-size" in table_data[cell.id].style)
                document.getElementById("font_size_input").value = table_data[cell.id].style["font-size"].slice(0, -2);
            else
                document.getElementById("font_size_input").value = "";
        }
        else
            select_cell_function_input();
    }
    function select_end_cell(cell) {
        let sra, era, sca, eca;
        let srb, erb, scb, ecb;
        [sra, era, sca, eca] = get_start_end_cell(drag_start_cell);
        [srb, erb, scb, ecb] = get_start_end_cell(cell.id);
        sra = Math.min(sra, srb);
        era = Math.max(era, erb);
        sca = Math.min(sca, scb);
        eca = Math.max(eca, ecb);
        document.getElementById("cell_selection").value = String.fromCharCode(a_code + sca) + sra + ":" + String.fromCharCode(a_code + eca) + era;
        update_selected();
        select_cell_function_input();
    }
    function select_cell_function_input() {
        if (!insert_cells_text)
            return;
        let tic = document.getElementById("tool_item_content");
        if (tic.value.slice(-1) == '"') {
            tic.value = tic.value.slice(0, -1);
            tic.value = tic.value.slice(0, tic.value.lastIndexOf('"'));
        }
        tic.value += '"' + document.getElementById("cell_selection").value + '"';
    }

    function update_selected() {
        // parsing the cur_selected_string and then marking all divs which are selected
        let start_row, end_row, start_col, end_col;
        [start_row, end_row, start_col, end_col] = get_start_end_cell(document.getElementById("cell_selection").value);

        // clearing all painted fields
        let divs = document.getElementsByClassName("table_field_selected");
        while (divs.length)
            divs[0].classList.remove("table_field_selected");
        let exists = true;
        for (let r = start_row; r <= end_row && exists; ++r) {
            for (let c = start_col; c <= end_col && exists; ++c) {
                let div_id = String.fromCharCode(c + "A".charCodeAt(0)) + r;
                let element = document.getElementById(div_id);
                if (element == null)
                    exists = false;
                else
                    element.classList.add("table_field_selected");
            }
        }
    }

    function add_ballot_box() {
        let checked = null;
        for (let id of iterate_selected_cells_id()) {
            if (!(id in table_data))
                table_data[id] = create_cell(id);
            if (checked == null)
                checked = table_data[id].content == ballot_box;

            table_data[id].content = checked ? ballot_box_checked : ballot_box;
            update_cell_div(table_data[id]);
        }
    }

    function change_color(style_name, color) {
        for (let id of iterate_selected_cells_id()) {
            if (id in table_data)
                table_data[id].style[style_name] = color.value;
            else
                table_data[id] = create_cell(id, { style: { style_name: color.value } });

            update_cell_div(table_data[id]);
        }
    }

    function resize_col(element) {
        let width = element[0].contentRect.width;
        let id = element[0].target.id;
        let col_id = "col_" + id[0];
        let style_id = "style_" + id[0];
        document.getElementById(id).style.width = width + "px";
        let prev_style = document.getElementById(style_id);
        if (prev_style != null) {
            delete table_data[id];
            prev_style.remove();
        }
        if (width == 200)
            return;
        let style = document.createElement("style");
        style.id = style_id;
        style.type = "text/css";
        style.innerHTML = `.${col_id}{width: ${width}px;}`;
        document.getElementsByTagName('head')[0].appendChild(style);
        table_data[id] = create_col_header(id, width);
    }
    function resize_row(element) {
        let height = element[0].contentRect.height;
        let id = element[0].target.id;
        let row_id = "row_" + id.split(":")[0];
        let style_id = "style_" + row_id;
        document.getElementById(id).style.height = height + "px";
        let prev_style = document.getElementById(style_id);
        if (prev_style != null) {
            delete table_data[id];
            prev_style.remove();
        }
        if (height == 40)
            return;
        let style = document.createElement("style");
        style.id = style_id;
        style.type = "text/css";
        style.innerHTML = `.${row_id}{height: ${height}px;}`;
        document.getElementsByTagName('head')[0].appendChild(style);
        table_data[id] = create_row_header(id, height);
    }
    // ------------------------------------------------------
    // Available excel functions
    // ------------------------------------------------------
    const color_map = {
        weiss: "white",
        schwarz: "black",
        blau: "blue",
        gruen: "green",
        gelb: "yellow",
        rot: "red",
        braun: "brown",
        lila: "lila",
        violett: "violet",
        hellblau: "lightblue",
        hellgruen: "lightgreen",
        hellgelb: "lightyellow",
        hellbraun: "lightbrown",
        pink: "pink"
    };
    const summe = (fields) => { if (fields == null) return 0; if (Array.isArray(fields)) return fields.reduce((partialSum, a) => partialSum + zahl(a), 0); return fields; }
    const durchschnitt = (fields) => { if (typeof fields === 'string') return +fields; if (Array.isArray(fields)) return summe(fields) / fields.length; return summe(fields); }
    const wenn = (cond, succ, fail) => { if (cond) return succ; return fail; }
    const anzahl = (fields) => { }
    const sinus = Math.sin
    const cosinus = Math.cos
    const tangenz = Math.tan
    const asinus = Math.asin
    const acosinus = Math.acos
    const atangenz = Math.atan
    const max = (arr) => Math.max.apply(Math, arr)
    const min = (arr) => Math.min.apply(Math, arr)
    const cos = Math.cos
    const sin = Math.sin
    const tan = Math.tan
    const acos = Math.acos
    const asin = Math.asin
    const atan = Math.atan
    const grad_zu_rad = (g) => { return g * PI / 180; }
    const rad_zu_grad = (r) => { return r * 180 / PI; }
    const runden = (n, s = 0) => { return +((+n).toFixed(s)); }
    const zahl = (a) => { if(!(a.replace)) return a; return +(a.replace(',', '.')) || 0; }
    const hintergrundfarbe = (farbe) => { change_color("background-color", farbe in color_map ? { value: color_map[farbe] } : { value: farbe }); return null; }
    const hf = hintergrundfarbe;
    const PI = Math.PI
    const E = Math.E
    // ------------------------------------------------------
    // Available excel functions end
    // ------------------------------------------------------
    function update_functions() {
        function executor(table_data, field, finished_fields, unfinished_fields) {
            if (unfinished_fields.has(field))
                throw ("Schleiffe in Feld " + field);
            if (field in finished_fields)
                return finished_fields[field];
            if (table_data[field].content.charAt(0) != "=")
                return table_data[field].content;

            unfinished_fields.add(field);

            // resolving all needed things
            let prev_selection = document.getElementById("cell_selection").value;
            document.getElementById("cell_selection").value = field;
            let c = table_data[field].content;
            let fields_values = [];
            let exec_string = "";
            let prev = 1;
            let result = "";
            try {
                for (let p = c.indexOf('"'); p != -1; p = c.indexOf('"', p + 1)) {
                    exec_string += c.slice(prev, p);
                    let end = c.indexOf('"', p + 1) + 1;
                    let fields = c.substring(p, end);
                    p = end;
                    prev = p;
                    for (let f of iterate_selected_cells_id(fields.slice(1, -1))) {
                        if (!(f in table_data))
                            continue;
                        let r = executor.call({}, table_data, f, finished_fields, unfinished_fields);
                        fields_values.push(r);
                    }
                    if (fields_values.length == 0)
                        fields_values = 0;
                    else if (fields_values.length == 1)
                        fields_values = fields_values[0];
                    exec_string += JSON.stringify(fields_values);
                    fields_values = []
                }
                // adding the last part of the string
                exec_string += c.substring(prev);
                exec_string = "return (" + exec_string + ") || 0";

                unfinished_fields.delete(field);
                // executing the line
                console.log(exec_string);
                const f = new Function(exec_string);
                result = f.call({});
            }
            catch (e) {
                result = e;
            }
            if (result != null) { // only set cell context if the function execution returned something
                document.getElementById(field).innerHTML = result;
                finished_fields[field] = result;
            }
            document.getElementById("cell_selection").value = prev_selection;
            return result;
        }

        "use strict";
        let finished_fields = {};
        let unfinished_fields = new Set();
        for (const key in table_data) {
            if (table_data[key].type != "cell")
                continue;
            if (table_data[key].content.charAt(0) == "=")
                try { executor.call({}, table_data, key, finished_fields, unfinished_fields); }
                catch (e) { }
        }
    }

    function getTextDim(text, font) {
        // re-use canvas object for better performance
        const canvas = getTextDim.canvas || (getTextDim.canvas = document.createElement("canvas"));
        const context = canvas.getContext("2d");
        context.font = font;
        const metrics = context.measureText(text);
        return [metrics.width * 1.01, (metrics.actualBoundingBoxAscent + metrics.actualBoundingBoxDescent) * 1.3];
    }
    function getCssStyle(element, prop) {
        return window.getComputedStyle(element, null).getPropertyValue(prop);
    }
    function getCanvasFont(el = document.body) {
        const fontWeight = getCssStyle(el, 'font-weight') || 'normal';
        const fontSize = getCssStyle(el, 'font-size') || '16px';
        const fontFamily = getCssStyle(el, 'font-family') || 'Times New Roman';

        return `${fontWeight} ${fontSize} ${fontFamily}`;
    }
    function fit_col_to_text_width() {
        for (let a of iterate_selected_cells_id()) {
            if (!(a in table_data))
                continue;
            let [cur_w, cur_h] = getTextDim(table_data[a].content, getCanvasFont(document.getElementById(a)));

            cur_w = Math.max(cur_w, 200);
            cur_h = Math.max(cur_h, 40);
            console.log(cur_w, cur_h);
            col_id = a.slice(0, 1); col_id += ":" + col_id;
            row_id = a.slice(1); row_id += ":" + row_id;
            resize_col([{ target: { id: col_id }, contentRect: { width: cur_w } }]);
            resize_row([{ target: { id: row_id }, contentRect: { height: cur_h } }]);
        }
    }


    async function save() {
        let res = await fetch(location.origin + "/update_file", {
            headers: { path: file_path },
            method: "POST",
            body: JSON.stringify(table_data),
        });
        res = await res.json();
    }

    init_table();
    setTimeout(() => {
        for (let [id, e] of Object.entries(table_data)) {
            update_cell_div(e);
        }
        update_functions();
    }, 100);

    function deepEqual(x, y) {
        return (x && y && typeof x === 'object' && typeof y === 'object') ?
            (Object.keys(x).length === Object.keys(y).length) &&
            Object.keys(x).reduce(function (isEqual, key) {
                return isEqual && deepEqual(x[key], y[key]);
            }, true) : (x === y);
    }

    var saved_table_data = structuredClone(table_data);
    {{#editor}}
    window.setInterval(() => {
        if (!deepEqual(saved_table_data, table_data)) {
            save();
            saved_table_data = structuredClone(table_data);
        }
    }, 5000);
    
    window.onresize = () => {
        let height = String(document.documentElement.clientHeight  - document.getElementById("header").clientHeight) + "px";
        document.getElementById("table_container").style.height = height;
    };
    window.onload = () => {window.onresize();};
    {{/editor}}
</script>

</html>
